<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Task-it-up </title>
    </head>

    <body>
        <center>
            <h1> Hello, wanna lock in on tasks bro?</h1>
            <h2> Sign in</h2>
            <form method="POST" action="{{ url_for('sign_in') }}">
                <input type="email" name="email" placeholder="Enter your email"><br><br>
                <input type="password" name="password" placeholder="Enter your password"><br><br>
                <button type="submit">Sign-In</button>
                <p>Don't have an account?<a href="{{ url_for('register') }}">Register here</a> </p>
            </form>
        </center>
    </body>

    <footer>
        <center> 
            &copy; 2025, Made By Taha Shaikh.
        </center>
    </footer>
</html>
